[package]
name = "poke_engine"
edition = "2021"
version = "0.0.13"

[lib]
name = "poke_engine"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.5", features = ["extension-module"] }
poke-engine = { path = "../" }

[features]
default = ["poke-engine/gen4"]
