[package]
name = "poke_engine"
edition = "2021"
version = "0.0.9"

[lib]
name = "poke_engine"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22.2", features = ["extension-module"] }
poke-engine = { path = "../" }

[features]
default = ["poke-engine/gen4"]